body {
    text-align: center;
    background-color: white;
    
}
.script {
    font-family: "Kunstler Script";
    font-size: 100px;
    color: black;
    text-decoration: underline;
}
ul {
    list-style-position: inside;
    margin: auto; 
}
h3 {
    font-family: "Times New Roman";
    margin-top: 100px;
    font-size: 30px;
}
ul {
    list-style-type: none;
}
.nav-header {
    height: 100px;
    background: #f0f5f5;
}
.nav-div {
    margin: auto;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 25px;
    overflow: hidden;
    background-color: #f0f5f5;
    width: 100%;
    position: fixed;
}
a:hover {
        background-color: lightgray;
        color: black;
    }
.nav-bar-link {
    color: #878787;
    font-size: 24px;
    padding: 20px;
}
a {
    text-decoration: none;
}
.main-header {
    height: 300px;
    background: url("imgs/cigar.jfif") no-repeat center;
    background-size: cover;
    border: 2px solid black;
}
.main-header-enjoy {
    height: 300px;
    background: url("imgs/vintage.jfif") no-repeat top;
    background-size: cover;
    border: 2px solid black;
}
.main-header-about {
    height: 300px;
    background: url("imgs/judge.jfif") no-repeat bottom;
    background-size: cover;
    border: 2px solid black;
}
.main-header-history {
    height: 300px;
    background: url("imgs/leader.jfif") no-repeat bottom;
    background-size: cover;
    border: 2px solid black;
}
.main-header-quotes {
    height: 300px;
    background: url("imgs/time.jfif") no-repeat center;
    background-size: cover;
    border: 2px solid black;
}
.main-header-lounges {
    height: 300px;
    background: url("imgs/whisky.jfif") no-repeat bottom;
    background-size: cover;
    border: 2px solid black;
}
.main-header-books {
    height: 300px;
    background: url("imgs/cigar3.jfif") no-repeat center;
    background-size: cover;
    border: 2px solid black;
}
.footer {
    height: 40px;
    background: #f0f5f5;
    padding: 5px;
    margin-top: 25px;
}
.about {
    width: 400px;
    margin: auto;
    font-size: 20px;
}
.tobacco {
    margin: auto;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
.plant {
    height: 550px;
    width: 420px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.barn {
    margin-top: 50px;
    margin-bottom: 50px;
}
.roller {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    width: 800px;
}
.anatomy {
    margin-top: 50px;
    margin-bottom: 50px;
}
.twain {
    margin-top: 50px;
    height: 250px;
    width: 250px;
}
.church {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 350px;
}
.sigmund {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 250px;
}
.george {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 250px;
}
.king {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    width: 250px;
}
.sherman {
    margin-top: 25px;
    margin-bottom: 200px;
}
.zino {
    margin-top: 25px;
    margin-bottom: 200px;
}

.handbook {
    height: 500px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 200px;
}

.cuban {
    height: 500px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 200px;
}

.dunhill {
    height: 500px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 200px;
}
.field {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.cuba {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.jfk {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.david {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.casa {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
}
.port {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
}
.geneva {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: white;
    }
    .nav-header {
        flex-direction: column;
        background: white;
        align-items: center;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        background: white;
        width: 1000px;
        text-align: left;
        position: relative;
    }
    .main-header {
        margin-top: 600px;
    }
    .main-header-about {
        margin-top: 600px;
    }
    .main-header-enjoy {
        margin-top: 600px;
    }
    .main-header-history {
        margin-top: 600px;
    }
    .main-header-history {
        margin-top: 600px;
    }
    .main-header-lounges {
        margin-top: 600px;
    }
    .main-header-quotes {
        margin-top: 600px;
    }
    .main-header-books {
        margin-top: 600px;
    }
    .main-header-title {
        font-size: 25px;
        margin-top: 0px;
    }
    .search-icon {
        width: 100%;
        margin: auto;
        background: #f0f5f5;
        height: 40px;
        padding: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .main-header-intro {
        font-size: 13px;
        text-align: center;
    }
    .nav-bar-list {
        height: 75px;
        margin-bottom: 20px;
        background: #f0f5f5;
    }
    .plant {
        height: 350px;
        width: 350px;
    }
    .barn {
        height: 350px;
        width: 450px;
    }
    .roller {
        height: 350px;
        width: 425px;
    }
    .anatomy {
        height: 350px;
        width: 425px;
    }
    .tobacco {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .about {
        font-size: 15px;
    }
    a {
        display: block;
    }
    .sherman {
        margin-top: 25px;
        margin-bottom: 200px;
    }
    .zino {
        margin-top: 25px;
        margin-bottom: 200px;
    }
    .handbook {
        height: 500px;
        width: 300px;
        margin-top: 25px;
        margin-bottom: 200px;
    }
    .cuban {
        height: 500px;
        width: 300px;
        margin-top: 25px;
        margin-bottom: 200px;
    }

    .dunhill {
        height: 500px;
        width: 300px;
        margin-top: 25px;
        margin-bottom: 200px;
     }
 }
